@charset "UTF-8";
body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
  font-size: 1em;
}

body, h1, h2, h3, h4, ul, ol, li, a, p, div, nav, figure, article, section {
  margin: 0 0;
  padding: 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

table {
  border-collapse: collapse;
  /*隣り合うセルの境界線を重ねて表示*/
  border-spacing: 0;
  /*境界線の感覚を無くす*/
}

img {
  border: none;
  /*枠線を消す*/
  vertical-align: bottom;
  /*画像下の余白を消す*/
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  display: flex;
  position: relative;
}
main .m_side {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 100;
  width: 200px;
  height: 100%;
  background-color: cornsilk;
}
main .m_side .select_list_group {
  padding-top: 2em;
}
main .m_side .select_list_group button {
  width: 100%;
  text-align: left;
  padding-left: 1em;
  line-height: 2.8em;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  color: #ff5c5c;
}
main .m_side .select_list_group button:hover {
  background: #ff5c5c;
  color: cornsilk;
}
main .m_side .select_list_group .cullent {
  background: #ff5c5c;
  color: cornsilk;
}
main .m_center {
  width: 100%;
  height: 100%;
  margin-left: 200px;
  padding: 0em 0 2em 2em;
}
main .m_center .bread_crumb {
  font-size: .8em;
  line-height: 3em;
}
main .m_center .bread_crumb ul {
  display: flex;
}
main .m_center h2 {
  border-left: solid 0.5em #ff5c5c;
  font-size: 1.6em;
}
main .m_center .table_heading_container {
  display: flex;
  align-items: center;
  margin: 1em 0;
}
main .m_center .table_heading_container form {
  display: flex;
}
main .m_center .table_heading_container form select {
  display: block;
  line-height: 1em;
  height: 2em;
  border: solid 1px #cccccc;
  margin-right: 1em;
}
main .m_center .table_heading_container button {
  margin-right: 2.8em;
  border: solid 1px #ff5c5c;
  background: #ff5c5c;
  color: #fff;
  border-radius: .3em;
  font-weight: bold;
  cursor: pointer;
}
main .m_center .table_heading_container button:hover {
  border: solid 1px #cccccc;
  background: #fff;
  color: #ff5c5c;
}
main .m_center .table_container table {
  margin-bottom: 1em;
}
main .m_center .table_container table th {
  border-top: solid 1px #cccccc;
  border-bottom: solid 2px #cccccc;
  background: #ffb8b8;
  width: 88px;
  text-align: center;
  line-height: 1.8em;
  font-size: 16px;
}
main .m_center .table_container table td {
  width: 88px;
  text-align: center;
  line-height: 1.8em;
  font-size: 16px;
}
main .m_center .table_container .rec_top > td {
  border-top: solid 1px #cccccc;
}
main .m_center .table_container tr:last-child > td {
  border-bottom: solid 1px #cccccc;
}
main .m_center .table_container .employee_id, main .m_center .table_container .employee_name {
  width: 100px;
}
main .m_center .table_container .total {
  width: 150px;
}
main .m_center .table_container .modification, main .m_center .table_container .delete {
  display: none;
  width: 56px;
}
main .m_center .table_container .modification button, main .m_center .table_container .delete button {
  border: solid 1px #cccccc;
  border-radius: .3em;
  color: #ff5c5c;
  font-weight: bold;
  cursor: pointer;
}
main .m_center .table_container .modification button:hover, main .m_center .table_container .delete button:hover {
  border: solid 1px #ff5c5c;
  background: #ff5c5c;
  color: #fff;
}
main .m_center .table_container .private_agg button {
  border: solid 1px #cccccc;
  border-radius: .3em;
  color: #ff5c5c;
  font-weight: bold;
  cursor: pointer;
}
main .m_center .table_container .private_agg button:hover {
  border: solid 1px #ff5c5c;
  background: #ff5c5c;
  color: #fff;
}
main .m_center .table_container .total_agg {
  font-weight: bold;
  display: inline-block;
  width: 450px;
  margin-bottom: 2em;
  border: solid 1px #cccccc;
  border-radius: .3em;
}
main .m_center .table_container .total_agg th {
  border-top: 0;
}
main .m_center .table_container .total_agg tr:last-child > td {
  border-bottom: 0;
}

/*# sourceMappingURL=attendance_manegement.css.map */
