<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>月別勤怠一覧表|タイムカード</title>
  <link rel="stylesheet" href="../common/css/style.css">
</head>
<body>
  <main id="monthlyAttendanceList">
    <h2>個人別勤怠管理</h2>
    <table>
        <tr>
          <th>日</th>
          <th>出勤</th>
          <th>退勤</th>
          <th>休憩開始1</th>
          <th>休憩終了1</th>
          <th>休憩開始2</th>
          <th>休憩終了2</th>
          <th>勤務時間</th>
          <th>休憩時間</th>
          <th>労働時間</th>
        </tr>
        <tr>
          <td>〇日(〇)</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        </tr>
  
      </table>
  
  </main>
</body>
</html>

  
