<h2>個人別勤怠一覧</h2>
<h3>2021年03月 酒井　貴弘</h3>
<div class="table_container">
<table class="private_input">
<tr>
<th class="in_day">日</th>
<th class="employee_id">ID</th>
<th class="employee_name">名　前</th>
<th class="in_time">出　勤</th>
<th class="out_time">退　勤</th>
<th class="in_break">休憩開始</th>
<th class="out_break">休憩終了</th>
<th class="restrain_time">勤務時間</th>
<th class="break_time">休憩時間</th>
<th class="working_time">労働時間</th>
</tr>
<tr class="rec_top">
<td class="in_day">8日(月)</td>
<td class="employee_id">9999</td>
<td class="employee_name">酒井　貴弘</td>
<td class="in_time">10:58</td>
<td class="out_time">21:04</td>
<td class="in_break">-</td>
<td class="out_break">-</td>
<td class="restrain_time">10時間06分</td>
<td class="break_time">00時間00分</td>
<td class="working_time">10時間06分</td>
</tr>
</table><table class="total_agg">
<tr>
<th class="total">総勤務時間</th>
<th class="total">総休憩時間</th>
<th class="total">総労働時間</th>
</tr>
<tr>
<td class="total">10時間06分</td>
<td class="total">00時間00分</td>
<td class="total">10時間06分</td>
</tr>
</table>
</div>