@import "env_style"; 

@mixin btn1 {
    border: solid 1px $glay_line;
    border-radius: .3em;
    color: $main_col;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        border: solid 1px $main_col;
        background: $main_col;
        color: #fff;
    }
}

main{ //==================================================
.m_center{

    .table_heading_container{//<!-- テーブル見出し -->
        display: flex;
        align-items: center;
        margin-bottom: .6em;

        form{
            display: flex;

            select{
                display: block;
                line-height: 2rem;
                height: 2em;
                border: solid 1px $glay_line;
                margin: 1em 1em 1em 0;
                // margin-right: 1em;
            }    
        }

        button{
            // margin-left: 1em;
            margin-right: 1rem;
            line-height: 2rem;
            padding: 0 1.4em;
            border: solid 1px $glay_line;
            background: #fff;
            color: $main_col;
            border-radius: .3em;
            font-weight: bold;
            cursor: pointer;
            &:hover{
                border: solid 1px $main_col;
                background: $main_col;
                color: #fff;
            } 
        }             


        // button{
        //     margin-right: 2.8em;
        //     border: solid 1px $main_col;
        //     background: $main_col;
        //     color: #fff;
        //     border-radius: .3em;
        //     font-weight: bold;
        //     cursor: pointer;
        //     &:hover{
        //         border: solid 1px $glay_line;
        //         background: #fff;
        //         color: $main_col;
        //     } 
        // }             
    }

    //-- "table_container" ----- ----- ----- -----
    @mixin th_td {
        width: 88px;
        text-align: center;
        line-height: 1.8em;
        font-size: 16px;
    }

    .table_container{  
        table{ margin-bottom: 1em;
            th{
                border-top:solid 1px $glay_line;
                border-bottom:solid 2px $glay_line;
                background: $back_col-1;        
                @include th_td;
            }
            td{
                @include th_td;
            }
        }

        .rec_top>td{
            border-top: solid 1px $glay_line;  //レコードのボーダー（上） 
        }

        tr:last-child>td{
            border-bottom: solid 1px $glay_line;  //レコードのボーダー（下）
        }

        .employee_id, .employee_name{ width: 100px;}

        .total{width: 150px;}

        .modification, .delete{ //修正・削除ボタン
            display: none; //修正・削除ボタンを非表示
            width: 56px;
            button{ @include btn1;}
        }

        .private_agg{
            button{ @include btn1;}
        }

        .total_agg{
            font-weight: bold;
            display: inline-block;
            width: 450px;
            margin-bottom: 2em;
            border: solid 1px $glay_line;
            border-radius: .3em;
            th{border-top: 0;}
            tr:last-child>td{border-bottom: 0;}  //レコードのボーダー（下）}
        }
        
    }



} //.m_center end
} //mein end