@import "send_schedule";

main{ //==================================================
    .m_center{
        //1.セレクトエリア
        .select_container{
            .selectWeeks{
                display: flex;
                button.active{
                    border: solid 1px $main_col;
                    background: $main_col;
                    color: #fff;
                }
            }

        }
        //2.インプットエリア

        // 作成ページ・印刷ページ共通
        .table_container{
            table{ display: none;}
            table.active{display: block;}
            .idtr{ font-size:10px;}

            .name{font-size: 14px;}
            .total { font-size: 14px;}
            td.work_time_data { width: 8rem;}
        }
        // 印刷ページ
        .table_container.print{
            tr{ font-size:14px;}
        }
        // 3.コメントボックス
        .all_comment_box{
            margin: 2em 0em; 
            box-sizing: border-box;
            border: solid 2px $glay_line;
            border-radius: .3em;

            h4{
                padding: 1em;
                // line-height: 3em;
            }

            .coment{
                display: flex;
                padding: .2em 1em;
                border-top: solid 1px $glay_line;
                p{
                    margin-right: 3em;
                }
            }
        }

    

    }

}