@import "send_schedule";

main{ //==================================================

    .m_center{
        //1.セレクトエリア
        .select_container{
            .selectWeeks{
                display: flex;
                button.active{
                    border: solid 1px $main_col;
                    background: $main_col;
                    color: #fff;
                }
            }

        }
        //2.インプットエリア
        .table_container.create{
            // table{display: none;}
            table.active{display: block;}
        }
    

    }

}