@import "env_style";

main{ //==================================================
    .m_center{

        //　*セレクトボタンの表示領域
        .select_container{
            display: flex;
            align-items: center;
            margin-bottom: .6em;
            
            .select_month{ 
                display: flex;
                // align-items: center;
                height: 3rem;
                h4{
                    line-height: 3rem;
                    padding: 0 .5em;
                    border-top: solid 1px $glay_line;
                    border-bottom: solid 1px $glay_line;
                }
                button.befor{ //戻るボタン
                    margin-right: 0;
                    line-height: 3rem;
                    border-radius: 2em 0 0 2em;
                } 
                button.next{ //次へボタン
                    border-radius: 0 2em 2em 0;
                    line-height: 3rem;
                }        
    
            }
            .select_input_menu{
                display: flex;
                margin: 0 4rem;
            }
    
            button{
                margin-right: 1rem;
                line-height: 2rem;
                height: 100%;
    
                padding: 0 1.4em;
                border: solid 1px $glay_line;
                background: #fff;
                color: $main_col;
                border-radius: .3em;
                font-weight: bold;
                cursor: pointer;
    
                &:hover{
                    border: solid 1px $main_col;
                    background: $main_col;
                    color: #fff;
                    opacity: .8;
                } 
            }
    
        } //end .select_container

        // *モーダル関係
        #modal{
            background: #fff;
            width: 500px;
            padding: 20px;
            border-radius: 4px;
            position: fixed;
            top: 40px;
            left: 0;
            right: 0;
            margin: 0 auto;
            transition: transform 0.8s;
            z-index: 2;
    
            text-align: center;
    
            .m_btn_container{
                display: flex;
                justify-content: space-around;
                width: 100%;
                box-sizing: border-box;
                padding: 1rem 3rem 0 3rem;
                // padding-top: 1em;
                margin-top: 1rem;
                border-top: solid 2px $glay_line;
                 
                .btn{
                    padding: 0 4em;
                    line-height: 3em;
                    text-align: center;
                    border: solid 2px $glay_line;
                    border-radius: .5em;
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
        #mask{
            background: rgba(0, 0, 0, 0.4);
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
        }
    
        #mask.hidden { display: none;}
    
        #modal.hidden { transform: translate(0, -500px);}
    

    
        // *テーブルコンテナー
        .table_container{

            // シフトテーブル
            .shift_table{
                tr:nth-child(even){
                    background: cornsilk;  
                }                 
    
                tr{
                    text-align: center;
                    font-size: 10px;
                    font-weight: bold;
    
                    .sat_color{color: blue;}
                    .sun_color{color: red;}
    
    
                    th{
                        border: solid 1px $glay_line;
                        box-sizing: border-box; 
                        padding: .5em;
                        font-size: 11px;
                        
                    }
                    td{
                        // width: 140px; //テーブル横幅　140*7
                        border: solid 1px $glay_line;
                        box-sizing: border-box;
                        padding: .5em; 

                        .date_box { font-size: 11px;}
    
                        // インプットボックス
                        .input_box{
                            .input0{
                                display: flex;
                                justify-content: space-around;
                                font-size: 10px;
                                label{
                                    display: block;
                                    margin-bottom: .4em;
                                    padding:0 0.2em;
                                    color: $glay_line;
                                    border: solid 2px $glay_line;
                                    border-radius: .3em;
                                    cursor: pointer;
                                }
                                label.holiday.culent, label.paid.culent{ //公休・有給ボタン選択中
                                    color: $main_col;
                                    border: solid 2px $main_col;
                                    font-weight: bold;
                                }
                                label.work.culent{ //出勤ボタン選択中
                                    color: $accent_col-3;
                                    border: solid 2px $accent_col-3;
                                    font-weight: bold;
                                }


                                // label.work.culent{

                                //     color: $main_col;
                                //     font-weight: bold;
                                // }
                                // label.holiday.culent, label.paid.culent{
                                //     // background-color: $accent_col-3;
                                //     color: $accent_col-3;
                                //     font-weight: bold;
                                // }
                                input[type="radio"]{
                                    // display: none;
                                }
    
                            }
    
                        }
    
                    }//end td
        
                }//end tr
    
            }//end .shift_table    

            // コメントボックス
            // $box-width: 980px;
            .comment_box{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 2em; 
                // width: $box-width;
                // padding: 1em 1em;
                box-sizing: border-box; 
                textarea{
                    padding: 1em;
                }
            
            
                p{padding-bottom: .5em;}
                textarea{
                    height: 5em;
                    border: solid 2px $glay_line;
                    border-radius: .3em;
                    resize: none;
                }
            }
            
            // 送信ボタン
            .submit_container{
                // width: $box-width;
                margin-bottom:  100px;
                box-sizing: border-box; 
                
                #open.btn{
                    margin: 1rem auto;
                    width: 400px;
                    line-height: 3em;
                    text-align: center;
                    border-radius: .5em;
                    font-size: 16px;
                
                    border: solid 2px $main_col;
                    background: $main_col;
                    color: #fff;
        
                    font-weight: bold;
                    cursor: pointer;
        
                    &:hover{
                        border: solid 2px $main_col;
                        background: #fff;
                        color: $main_col;
                    }
                }
                
            }
        

        } //end .table_container

    }
}

//ポップアップ
.popup{
    line-height: 100px;
    height: 100px;
    height: 0; 
    background-color: $accent_col-3;
  
    overflow: hidden;
    padding-left: 2em;
    position: fixed;//ブラウザ基準
    opacity: .9;
    top: 60px;
    left: 25vw;
    right: 25vw;
    // margin: 0 auto;
    z-index: 1;

    font-weight: bold;
    text-align: center;
  }
  .popup.show{  
      animation: popup 4s 1;
  
  }
  @keyframes popup{
      0%{ }
      20%{ height: 100px;}
      80%{ height: 100px;}
      100%{ height: 0; }
  }