<main>
<div class="m_center">

    <div class="explanatory_text">


        <h2>スケジュール管理アプリの作成</h2>
        <img src="img/schedule_img4.jpg" alt="">

        <section>
            <div>
                ご訪問いただきましてありがとうございます。<br>
                今回はシフトスケジュールを作成するアプリケーションを作成いたしました。<br>
                是非最後までお付き合い頂けますよう、よろしくお願いします。
            </div>
        </section>
        
        <section>
            <h4>作成背景</h4>
            <div>
                前職でスケジュール作成をする際、提出・作成・掲示までの流れを
                紙のやり取りで行っており、転記の際に間違いが無いよう気を付けていると
                時間がかかってしまうため、WEBでやり取りができるアプリが欲しいと
                思っていたためです。
            </div>  
            <div>
                また、投稿アプリの作成練習にもなると考えたことも理由の一つです。
                投稿アプリの基本は"挿入"、"表示"、"修正"、"削除"ですので、
                その4つを意識して作成するようにいたしました。
            </div>  
        </section>

        <section>
            <h4>操作方法</h4>
            <h5>0. 操作の流れ</h5>
            <div>
                まずは、ヘッダーのメニューバーより、
                <a href="">"スケジュール"</a>をクリックして、
                スケジュール管理ページへ入室します。
            </div>
            <div>その後は、以下の項目を試していただけますと、ありがたいです。</div>
          
            <ul>
                <li>1. スケジュールの提出</li>
                <li>2. スケジュールの作成</li>
                <li>3. スケジュールの印刷</li>
            </ul>
        </section>

        <section>
            <h5>1. スケジュールの提出</h5>
            <img src="img/schedule_img1.jpg" alt="">
            <div>
                まずは、スケジュールを提出しましょう。<br>
                左のメニューリストから<p class="point">スケ提出</p>をクリックします。
            </div>
            <div>
                そして、出勤時間を入力したいのですが・・・、<br>
                今回は時間を短縮して、<p class="point">定型入力ボタン</p>
                をクリックしましょう。<br>
                定型入力ボタンは、ユーザーが事前に取り交わしてる
                勤務契約の時間通りに一括入力することができます。
            </div>
            <div>
                特記事項があれば、<p class="point">コメント欄</p>に入力します。
            </div>
            <div>
                入力内容を最初からやり直したいときは、<p class="point">リセットボタン</p>
                を押せば位置から入力を直せるので大丈夫です。
            </div>
            <div>
                間違いが無ければ、一番下にある<p class="point">提出ボタン</p>を押して、
                提出完了です。  
            </div>
            <div>
                もしスケジュールを提出しなおしたいときは、再度入力をし直した後に提出ボタンを
                押せば、内容が上書きされます。<br>
                内容を全て無しにしたいときは、リセットボタンで白紙にしたのちに提出ボタンを
                押しましょう。
            </div>



        </section>

        <section>
            <h5>2. スケジュールの作成</h5>
            <img src="img/schedule_img2.jpg" alt="">
            <div>
                次に、スケジュールを作成します。<br>
                左のメニューリストから<p class="point">スケ作成</p>をクリックします。
            </div>
            <div>
                すると、管理者権限の確認画面になりますので、ID・password(共に0000)の
                入力をお願いします。
            </div>
            <div>
                作成画面は一週間づつ分かれ、数字のボタンで週の切り替えができます。
                <p class="point">提出スケジュール取得ボタン</p>を押すと
                全従業員の提出したスケジュールが作成画面に反映されます。

                提出スケジュールが反映されたら、スケジュールの調整をし、
                間違いが無ければ、ページ下にある
                <p class="point">保存ボタン</p>を押します。<br>
                これを各週分繰り返すと、一ヶ月分のスケジュールの完成です。
            </div>
            <img src="img/schedule_img3.jpg" alt="">
            <div>
                ※ 保存が一ヶ月まとめてできないのは、"formで送る変数が1000を超えます"
                という内容のエラーが出るため、週ごとに保存するようにしました。<br>
                ※ スケジュールの微調整は、実際に行わなくても次を確認できますので、
                お時間に余裕がありましたらお試しください。
            </div>

        </section>

        <section>
            <h5>3. スケジュールの印刷</h5>
            <img src="img/schedule_img4.jpg" alt="">
            <div>
                最後に、スケジュール印刷画面を開きましょう。<br>
                左のメニューリストから<p class="point">スケ印刷</p>をクリックします。
            </div>
            <div>
                スケジュール作成画面同様、スケジュールは週分割で表示され、数字のボタンで週を変更できます。
            </div>
            <div>
                内容が良さそうであれば、<p class="point">スケジュール印刷ボタン</p>を押すと
                PDF印刷画面が表示され、スケジュールを印刷することができます。
            </div>
            <br>
            <div>
                以上で操作は終わりです。
            </div>
        </section>

        <h4>作業から学べたこと</h4>
        <div>
            ・とにかく変数が多かったので多重連想配列に格納することとなったのですが、
            ユーザー定義関数を定義するときの"global"や、クラス内でプロパティを定義
            する際は、配列で定義してしまえば変数を細かく定義する必要が無いことに
            気が付くことができました。
        </div>
        <div>
            ・繰り返し処理をする際に、"日付"、"従業員"、"週分割"の要素が
            重なり合いやや複雑ではありましたが、複数の条件が重なった繰り返し処理に
            慣れることができました。
        </div>
        <div>
            ・ PHPをHTMLにおこす際、①HTMLにPHPを埋め込む方法と②テンプレートをstr_replace
            で入替える方法がありますが、両方のメリット、適した用途を確認する事ができました。
        </div>
        <h4>今後の課題</h4>
        <div>
            ・ スケジュール作成画面の労働時間表示の箇所を、時間入力毎に
            再計算できればいいのですが、JavaScriptでそこまで複雑な処理に
            慣れていあいため、学習が必要と感じました。
        </div>
        <div>
            ・TCPDFの処理に時間がかかってしまった為、特製をより学習する必要があり。
        </div>
        <div>
            クラスのプロパティを呼び出す際に"$this->"の後にも"$"をつけ、
            それに気が付かず、長い時間エラーが解消できなかったため、クラスを作る際は
            気をつけたいと思います。
        </div>
        <div>
            ・本当は有給申請もできるようにしたかったのですが、入力画面が細かくなってしまい
            よいUIが思い浮かばないため、良い案があれば取り入れたいと思います。
        </div>

        <br>
        <div>
            作品紹介は以上になります。<br>
            最後までお付き合いいただきまして、ありがとうございました。
        </div>    
    
    </div>
</div>
</main>
