<tr class="date!num!">
<td class="dates">
<div class="date"> !num!日(!week!)</div>
</td>

<td class="input">

<div class="input0">
<label for="id_paid_holiday">有給</label>
<input type="checkbox" name="paid_holiday!num!" value="paid_holiday" id="id_paid_holiday" !checked!>
</div>

<div class="input1">
シフト1
!select_elements["in1"]!
~
!select_elements["out1"]!
</div>

<div class="input2"> 
シフト2
!select_elements["in2"]!
~
!select_elements["out2"]!
</div>
</td>
</tr>