<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>スケジュール提出</title>
  <link rel="stylesheet" href="../common/css/submit_schedule.css">
  <link rel="stylesheet" href="../common/css/header.css"><!--header用css-->
</head>
!header!

    <main id="submit_schedule">
        <h2>スケジュール提出</h2>
        <h3>!employee_name!さんの スケジュール提出ページ</h3>

        <!-- 1.セレクトコンテナー ------------>
        <div class="select_container">
            <div class="select_month">

                <form action="" method="GET">
                    <input type="hidden" name="mode" value="change_befor">
                    <input type="hidden" name="token" value="!token!"> 
                    <input type="hidden" name="month" value="!value_month!">
                    <button >前に戻る</button>    
                </form>


                <h3 class="select_mon">!display_month!</h3>


                <form action="" method="GET">
                    <input type="hidden" name="mode" value="change_next">
                    <input type="hidden" name="token" value="!token!"> 
                    <input type="hidden" name="month" value="!value_month!">
                    <button >次に進む</button>
                </form>


            </div>
            <div class="select_input_menu">
                <button class="auto_input">定型入力</button>
                <button class="delete">入力リセット</button>    
            </div>
        </div>


        <!-- 2.インプットコンテナー ------------>
        <form action="" method="GET">
        <input type="hidden" name="mode" value="submit">
        <input type="hidden" name="token" value="!token!"> 
        <input type="hidden" name="month" value="!value_month!">

        <section id="modal" class="hidden">
            <p>フォームを送信します。</p>
            <p>よろしいですか？</p>
            <div class="m_btn_container">
                <button type="submit" class="btn" >提出</button>
                <div id="close" class="btn">戻る</div>
            </div>   
        </section>

        <div id="mask" class="hidden"></div>


        <div id="input_container">
        <!-- 2-1 -->
            <table class="calendar">
            !tr_element!
            </table>

            <!-- 2-2 -->
            <div class="comment_box">
                <p>コメント</p>
                <textarea class="comment_text" name="comment" id="" >!comment!</textarea>
            </div>

            <!-- 3.集計コンテナー ------------>
            <div class="aggregate">
                <div class="total_time">
                    <p>予定勤務時間</p>
                    <p>100時間</p>
                </div>
                <div class="total_wage">
                    <p>予定獲得賃金</p>
                    <p>100000円</p>
                </div>
            </div>

            <!-- 4.送信ボタンコンテナー ------------>
            <div class="submit_container">
                <div id="open" class="btn">提出</div>
            </div>
        </div>



        </form>
    </main>

    <!--モーダルの実装js-->
    <script src="../common/js/submit_schedule.js"></script>
    
</body>